/* .medication-card {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .col-md-4 {
    flex: 1;
    min-width: 250px;
  } */
  .demo-table {
    width: 100%;
  }

.mat-dialog-content{
  width: 100%;
}