<div class="card">
  <div class="card-body">
<h1>**Medication Management**</h1>

<form [formGroup]="FeedBack" (ngSubmit)="onSubmit1()">
  <table class="form-group">
    <tr>
     
      <th>No</th>
      <th>Patient Name</th>
      <th>Medication Dosage</th>
      <th>Medication Name.</th>
      <th>Medication Time</th>
    </tr>
    <tbody formArrayName="Rows">
      <tr
        *ngFor="let obj of formArr.controls; let i = index; let l = last"
        [formGroupName]="i"
      >
        <td> <input type="textarea" class="form-control" id="Section" formControlName="No"  />
        </td>
        <td> <input type="text"  class="form-control"  id="QuestionID" formControlName="Patient Name"  />
        </td>
        <td> <input  type="text"  class="form-control" id="question"  formControlName="Medication Dosage" />
        </td>
        <td> <input type="text" class="form-control" id="Answer_ShortTxt" formControlName="Medication Name"  />
        </td>
        <td><input type="text"  class="form-control" id="Answer_LongTxt" formControlName="Medication Time" />
        </td>
        <!-- <td> <input type="text" class="form-control" id="Feedback" formControlName="FeedBack"/> -->
        <!-- </td> -->
        <td>
        <!-- <button *ngIf="FeedBack.controls.Rows.length  >1 " (click)="deleteRow(i)"class="btn btn-danger" > Delete </button>  -->
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="addNewRow()" class="btn btn-outline-primary">Add Medication </button>
  <button type="button"data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1" (click)="openDialog()">View Medicine</button>
  <button type="button" routerLink="/profile" class="btn btn-outline-primary">Back</button>  
</form>

  </div>
  </div>


  <!-- <pre>{{ FeedBack.value | json }}</pre> 
</form> -->

   
